<!--navbar -->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div style="line-height: 50px;">
      <a class="brand" href="/#">Descubr&iacute; Buenos Aires</a>

      <ul class="nav" role="navigation">
        <li><a href="#" id="about-button" style="line-height: 50px;">
          <div class="friendly-link">Sobre esta aplicaci&oacute;n</div>
        </a></li>
        <li><a href="#" id="tip-button" style="line-height: 50px;">
          <div class="friendly-link">Tips</div>
        </a></li>
      </ul>
    </div>

    <div class="navbar-search pull-right">
      <ul class="unstyled" style="line-height: 0px; font-weight: normal; margin-left: 225px; max-width: 285px; text-overflow: ellipsis;"><li>Calle (Usando <strong><%= h(@dir.empty? ? '9 DE JULIO AV. y CORRIENTES AV.' : @dir) %></strong>)</li></ul>


      <input type="text" class="span3 search-bar typeahead" value="<%= h(@cat) %>" tabindex="1"/>
      <input id="autocomplete-bsas" type="text" value="<%= h(@dir) %>" tabindex="2"/>

      <a class="search-button btn" style="margin-top: -10px;" tabindex="3">Buscar</a>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
      <div id="map-wrap">
        <div id="map">
        </div>
      </div>
  </div>
</div>

<div id="about-modal" class="modal hide fade" data-backdrop="true" data-keyboard="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sobre esta aplicaci&oacute;n</h3>
   </div>
    <div class="modal-body" style="height:400px;">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Motivaci&oacute;n
            </a>
          </div>
          <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <p><strong>Descubr&iacute; Buenos Aires</strong> es una aplicaci&oacute;n creada para participar de <a>BAapps</a>, un concurso creado por la Ciudad de Buenos Aires</p>
              <p>Buscamos que toda la informaci&oacute;n sobre el uso del suelo de la ciudad sea consumible por cualquier persona, de una manera amigable, pudiendo de esta manera encontrar y descubrir nuevos rincones de la ciudad</p>
              <p>Esta aplicaci&oacute;n fue creada por</p>
              <ul>
                <li>Juan Ignacio Go&ntilde;i (<a target="_blank" href="http://twitter.com/nachogoni">@nachogoni</a>)</li>
                <li>Mart&iacute;n Cabral (<a target="_blank" href="http://twitter.com/mcabral_">@mcabral_</a>)</li>
                <li>S&aacute;ntiago Vazquez (<a target="_blank" href="http://twitter.com/savazq">@savazq</a>)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Sets de datos utilizados
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
            <p>La informaci&oacute;n que disponibilizamos al usuario surge de consumir los siguientes conjuntos de datos provistos por la Cuidad de Buenos Aires</p>
              <ul>
                <li>Mapa de parcelas</li>
                <li>Relevamiento Usos del Suelo 2008-2010</li>
                <li>Mapa Autopistas</li>
                <li>Mapa de Bibliotecas</li>
                <li>Mapa Espacios Verdes</li>
                <li>Mapa Comisarías</li>
                <li>Mapa Estaciones de Subterr&aacute;neo</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Tecnolog&iacute;as
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <p><strong>Descubr&iacute; Buenos Aires</strong> fue creada con tecnolog&iacute;as Open Source.</p><p>Este es un listado (parcial) de las tecnolog&iacute;as utilizadas</p>
              <ul>
                <li><a target="_blank" href="http://d3js.org/">d3.js</a></li>
                <li><a target="_blank" href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a></li>
                <li><a target="_blank" href="http://www.postgresql.org/">Postgresql</a></li>
                <li><a target="_blank" href="http://postgis.refractions.net/">Postgis</a></li>
                <li><a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a></li>
                <li><a target="_blank" href="https://developers.google.com/maps/?hl=es">Google Maps v3 API</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Link backs
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <p>Agradecemos con un linkback a:</p>
              <ul>
                <li><p><a target="_blank" href="http://www.webdesignerdepot.com/">Webdesigner Depot</a> (Icono de brujula)</p></li>
                <li><p><a target="_blank" href="http://bootswatch.com//">bootswatch</a> (Themes for Bootstrap)</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="introduction-modal" class="modal hide fade" data-backdrop="true" data-keyboard="true">
  <div class="modal-header">
    <button  tabindex="1" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Tips</h3>
  </div>
  <div class="modal-body" style="height:400px;">
    <div id="myCarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <div class="item">
          <img src="assets/tips/contextual-cropped.png" alt="">
          <div class="carousel-caption carousel-legend">
            <p>El men&uacute; de acciones te permite realizar una b&uacute;squeda localizada o explorar.</p>
          </div>
        </div>

        <div class="item">
          <img src="assets/tips/infobox-cropped.png" alt="">
          <div class="carousel-caption carousel-legend">
            <p>Hace click sobre una parcela para ver informaci&oacute;n detallada sobre la misma.</p>
          </div>
        </div>

        <div class="item">
          <img src="assets/tips/search-center-cropped.png" alt="">
          <div class="carousel-caption carousel-legend">
            <p>Un marcador rojo aparecer&aacute; con cada b&uacute;squeda mostrando el centro geogr&aacute;fico desde donde estas buscando.</p>
          </div>
        </div>

        <div class="item active">
          <img src="assets/tips/discover-cropped.png" alt="">
          <div class="carousel-caption carousel-legend">
            <p>Hace <strong>shift+click</strong> en cualquier lugar el mapa para despleguar el men&uacute; de acciones; la acci&oacute;n "Descubrir" te permitir&aacute; mostrar el contenido de las parcelas m&aacute;s cercanas.</p>
          </div>
        </div>

        <div class="item">
          <img src="assets/tips/coloring-cropped.png" alt="">
          <div class="carousel-caption carousel-legend">
            <p>El color naranja indica parcelas clickeables, el verde se utiliza para plazas y parques y el gris para parcelas no clickeables.</p>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    </div>
  </div>
</div>


<div id="modal-placeholder">
</div>

<div id="loading" class="full-screen-overlay" style="display:none;">
  <div class="loading-indicator">
  </div>
</div>

<script type="x-tmpl" id="parcela_template">
  <div id="parcela-modal">
    <div class="modal-header">
      <h3>Detalles</h3>
    </div>
    <div class="modal-body">
      <fieldset>
        <div id="parcela-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {{ _.each(items,function(item,key,list){ }}
                {{ if(key == 0){ }}
                        <div class="item active">
                    {{ } else { }}
                        <div class="item">
                    {{ } }}
                        <dl class="dl-horizontal parcel-info-row"><dt>Nombre</dt><dd>{{ if(item.nombre) { print(item.nombre); } else { print("Sin informaci&oacute;n"); } }}</dd></dl>
                        {{ if(item.calle != undefined && item.nro != undefined){ }}
                            <dl class="dl-horizontal parcel-info-row"><dt>Calle</dt><dd>{{= item.calle}} {{= item.nro}}</dd></dl>
                        {{ } }}
                          <dl class="dl-horizontal parcel-info-row"><dt>Categor&iacute;a</dt><dd>{{= item.tipo2}}</dd></dl>
                    </div>
                {{ }); }}
            </div>
            {{ if(items.length > 1) { }}
                <!-- Carousel nav -->
                <a class="carousel-control left parcela-carousel-left" href="#"  data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right parcela-carousel-right" href="#" data-slide="next">&rsaquo;</a>
            {{ } }}
            </div>
      </fieldset>
      <div style="text-align:center;">
        <img class="parcela-image" src="http://fotos.usig.buenosaires.gob.ar//getFoto?smp={{= items[0].smp}}&i=0&w=243&h=195"
             onerror="this.onerror = null; this.src = 'assets/no_photo.png'"/>
      </div>
    </div>
    <div class="modal-footer infobox-footer">
      <div class="input-append">
        <input class="location-search-bar span10 typeahead location-search-typeahead" type="text">
        <a class="location-search-button btn">Buscar</a>
      </div>
    </div>
  </div>

</script>

<script type="x-tmpl" id="location-search-box-template">
  <div id="location-search-box-modal">
    <div class="modal-header">
      <h3>Acciones</h3>
    </div>
    <div class="modal-body">
        <div class="input-append location-search-container">
            <input class="location-search-bar span10 typeahead location-search-typeahead" type="text">
            <a class="location-search-button btn">Buscar</a>
        </div>
      <div class="discover-container">
        <dl class="dl-horizontal">
            <dt class="discover-legend">Descubrir los alrededores</dt>
            <dd class="discover-button"><a class="btn" href="#"><i class="icon-search"></i></a></dd>
        </dl>
      </div>
    </div>
  </div>
</script>

<script type="x-tmpl" id="no_details_template">
  <h4>No hay detalles para la parcela seleccionada</h4>
</script>

<script type="x-tmpl" id="no_results_template">
  <h4>No hay resultados para la b&uacute;squeda</h4>
</script>

<script type="text/javascript">
    // Global Application Object
    window.bsasApp = {};
    //Default values
    window.bsasApp = {
        'lat' : '<%= h(@lat) %>',
        'long' : '<%= h(@long) %>',
        'pointx': '<%= h(@xpoint) %>',
        'pointy': '<%= h(@ypoint) %>',
        'cat': '<%= h(@cat) %>'
    };
</script>