<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parcelas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Mira bolo</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <div class="navbar-search pull-right">
      <input id="searchbar" type="text" class="search-query" placeholder="Estoy buscando...">
    </div>
  </div>

</div>

<%= yield %>

<footer class="navbar navbar-fixed-bottom">Powered by TRENTO</footer>
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag "application" %>
</body>
</html>

