<!DOCTYPE html>
<html lang="en">
<head>
  <title>BAData::Conoce Buenos Aires</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <!--navbar -->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/#">Conoce Buenos Aires</a>
    <div class="navbar-search pull-right">
      <div class="input-append">
        <input type="text" class="span3 search-bar typeahead">
        <a class="search-button btn disabled">Buscar</a>
      </div>
    </div>
    <ul class="nav pull-right" role="navigation">
      <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Movilidad<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <li><a tabindex="-1" href="#">Subtes</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Educaci&oacute;n<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <li><a tabindex="-1" href="#">Educaci&oacute;n Privada</a></li>
          <li><a tabindex="-1" href="#">Educaci&oacute;n Publica</a></li>
          <li><a tabindex="-1" href="#">Biblioteca</a></li>
          <li><a tabindex="-1" href="#">Universidad</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Servicios<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <li><a tabindex="-1" href="#">Bomberos</a></li>
          <li><a tabindex="-1" href="#">Policia</a></li>
          <li><a tabindex="-1" href="#">Hospital</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Recreaci&oacute;n<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
          <li><a tabindex="-1" href="#">Espacios Verdes</a></li>
          <li><a tabindex="-1" href="#">Teatro</a></li>
          <li><a tabindex="-1" href="#">Cine</a></li>
        </ul>
      </li>
      <li><a href="#" id="tip-button">Tips</a></li>
    </ul>
  </div>
</div>

<%= yield %>

<div class="navbar-fixed-bottom footer-bar" style="max-height:60px;">
    <div id="status-bar" style="height: 60px; padding: 0; margin: 0; border-radius: 0; display: none;">
      <div class="status-bar-wrapper">
        <span id="status-bar-message"></span>
        <a type="button" class="close close-bar-button" style="right:20px;"><strong>×</strong></a>
      </div>
    </div>
</div>

<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag "application" %>
</body>
</html>

