<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parcelas</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <!--navbar -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/">Conoce Buenos Aires</a>
    <div class="navbar-search pull-right">
      <div class="input-append">
        <input id="searchbar" type="text" class="span3">
        <a id="searchButton"  class="btn">Buscar</a>
      </div>
    </div>
  </div>
</div>

<%= yield %>

<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag "application" %>
</body>
</html>

